body {
    text-align: center;
    margin-top: 100px;
    font-family: Arial;
}

.box {
    display: inline-block;
    padding: 15px;
    background: lightgray;
}

input {
    width: 160px;
    height: 30px;
    margin-bottom: 10px;
    text-align: right;
}

button {
    width: 35px;
    height: 35px;
    margin: 2px;
}
